RAILS_MASTER_KEY=your_rails_master_key
SECRET_KEY_BASE=your_secret_key_base
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
DATABASE_URL=postgres://postgres:password@db:5432/kibunmeshi_production

APP_HOST=your-app-host.example.com
MAILER_SENDER=noreply.kibunmeshi@gmail.com
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_USERNAME=noreply.kibunmeshi@gmail.com
SMTP_PASSWORD=your-gmail-app-password
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
